.deptrac.cache
.idea/
.infection/
.phpbench/
.phpunit.cache/
.phpunit.result.cache
.psalm-cache/
.rector-cache/
/.pdepend/
/fuzz/corpus
/fuzz/coverage/
/fuzz/crash-*.txt
/fuzz/minimized-*.txt
crash-*.txt
minimized-*.txt
/vendor/
infection-summary.log
infection.log
