parameters:
	level: 10
	paths:
		- src
		- tests
	ignoreErrors:
		- '#generic class Fiber#'
		- identifier: staticMethod.dynamicCall
		  path: tests
		- identifier: method.alreadyNarrowedType
		  path: tests
